* {
    font: Arial;
    background-color: #0a0908;
    box-sizing: border-box
}
p {
    color: #f6efee
}

h1 {
    color: #f6efee
}

h2 {
    color: #f6efee
}

li {
    color: #f6efee
}

button {
    color: #f6efee
}

.contact-form {
    color: #f6efee;
    display: flex;
    flex-direction: column;
}

.contact-form input {
    color: #f6efee;
    width: 50px;
}

.contact-form textarea {
    color: #f6efee;
    width: 50px;
}

.contact-form button {
    color: #f6efee;
    width: 50px;
}

.big-text {
    font-size: 90px;
    color: #cce8cc
}

.container {
    width: 50%;
    margin: auto;
    text-align: center;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0a0908;
    position: sticky;
    top: 0;
}

.navbar .nav-link {
    float:right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar .nav-link:hover {
    background-color: #cce8cc;
}

.heading-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.bio-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 100px;
    width: 1000px;
    margin: 0 auto;

}

.vertical-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.headshot {
    clip-path: circle(40%);
}

.round-border {
    border: 2px #cce8cc;
    border-style: solid;
    border-radius: 50px;
    padding: 10px 50px;
}

.carousel {
    display: flex;
}

.contact-container {
    width: 50%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

input[type=text] {
    width: 100%;
    height: auto;
    border: 1px solid #cce8cc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    margin: 10px 0px;
}

input[type = email] {
    width: 100%;
    height: auto;
    border: 1px solid #cce8cc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    margin: 10px 0px;
}

textarea {
    width: 100%;
    height: auto;
    border: 1px solid #cce8cc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    margin: 10px 0px;
}

.contact-name {
    display: flex;
    gap: 15px;
    align-items: center;
}

.contact-name label {
    white-space: nowrap;
}