* {
    font: Arial;
    background-color: #0a0908;
    box-sizing: border-box
}
p {
    color: #f6efee
}

h2 {
    color: #f6efee
}

li {
    color: #f6efee
}

button {
    color: #f6efee
}

.big-text {
    font-size: 90px;
    color: #cce8cc
}

.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0a0908;
    position: sticky;
    top: 0;
}

.nav-ul .nav-li {
    float:right;
}

.nav-ul .nav-li .nav-a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-ul .nav-li .nav-a:hover {
    background-color: #cce8cc;
}

.heading-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.bio-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px
}

.vertical-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.headshot {
    clip-path: circle(40%);
}

.round-border {
    border: 2px #cce8cc;
    border-style: solid;
    border-radius: 50px;
    padding: 10px 50px;
}
